@import 'primeicons/primeicons.css';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background: #f7f5f1;
}

* {
  box-sizing: border-box;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type='password']::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}
